.gradle/
.gradle-local/
.kotlin/
/build/
local.properties
keystore.properties
*.jks
*.keystore
*.p12
*.iml
.idea/
captures/
.DS_Store
app/build/
android-sdk/
commandlinetools-win.zip
gradle-9.1.0-bin.zip
sdk-packages.txt
install-sdk.cmd
list-sdk.cmd
miuix-ui-android-0.9.0.aar
miuix-ui-metadata.xml
